:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --text-align: center;
  }
  body{
    font-family: 'Jost', sans-serif;
    font-family: 'Marcellus', serif;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 100px;
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%) !important;
} 
h1, h2, h3 {
    text-align: center;
    color: white;
    line-height: 1.5;
    font-weight: bold;
}
img{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    width: 200px;
}