body{
    font-family: 'Jost', sans-serif;
    font-family: 'Marcellus', serif;
    font-family: 'Nanum Gothic', sans-serif;
}
.head{
    background-color: #780000 !important;
    max-width: 40px ;
    align-items: center;
}