:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --text-align: center;
  }
  body{
    font-family: 'Jost', sans-serif;
    font-family: 'Marcellus', serif;
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 100px;
    background-color: var(--primary-color) !important;
} 
